
.bgt{
    border-left: 1px solid gray;
}


.bd{
    border-left: 1px solid gray;
}
@media only screen and (max-width: 600px) {
    .bgt{
        border-right:0px;
    }
    .bd{
        border-right:0px;
    }
    .mi{
        margin-left:26px;
    }
    .mc{
        margin-left:26px;
    }
    #font{
        font-size: 1px;
    }
    
  }
 #bn:hover{
     background-color:green!important;
     transform: scale(1.05);
     border-radius: 20px;
     color:white;
     box-shadow: 1px 2px 2px 1px darkgrey;
 }