
 #dack{
    margin-top:150px;
    margin-bottom: 100px;
  }
  
  .faq-nav {
      flex-direction: column;
      margin: 0 0 32px;
      border-radius: 2px;  
      border: 1px solid #0099cc;
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
  }     
   .faq-nav .nav-link {
     font-weight: 700;
          position: relative;
          display: block;
          margin: 0;
          padding: 13px 16px;
          background-color: #fff;
          border: 0;
          border-bottom: 1px solid #0099cc;
          border-radius: 2px;
          color: #0099cc;
          transition: background-color .2s ease;
   }
   .faq-nav .nav-link:hover {
              background-color: #f6f6f6;
          }
          
   .faq-nav .nav-link:active {
              background-color: #f6f6f6;
              font-weight: 700;
              color: rgba(0,0,0,.87);        
          }
          
   .faq-nav .nav-link::last-of-type {
              border-bottom-left-radius: 2px;
              border-bottom-right-radius: 2px;
              border-bottom: 0;
          }
          
   .faq-nav a i{
              margin-right: 5px;
              font-size: 18px;
              position: relative;
          }
      
  
  
 
  .tab-content {
      box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
      
  }   
   .tab-content .card {
          border-radius: 2px;
      }
      
   .tab-content .card-header {
 
          padding: 15px 16px;
          border-radius: 2px;
          background-color: rgba(2, 117, 216,0.9);
    
   }       
   .tab-content  h5 {
              margin: 0;
   }           
   .tab-content  button {
                  display: block;
                  width: 100%;
                  padding: 0;
                  border: 0;
                  font-weight: 700;
                  color: #f6f6f6;
                  text-align: left;
                  white-space: normal;
   }              
   .tab-content  button:hover,
   .tab-content  button:focus,
   .tab-content  button:active,
   .tab-content  button:hover:active {
     color:#000000;
                      text-decoration: none;
                  }
              
          
      
      
      
       .card-body p {
              color: #616161;
       }
              .card-body p:last-of-type {
                  margin: 0;
              }
          
  
  
  
  
   .collapse.show .card-body {
          border-bottom: 1px solid rgba(0,0,0,.125);
      }
 